In [133]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

## Aggregate individual player stats to yearly team stats

In [135]:
player_df = pd.read_csv("all_seasons.csv")
player_df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11140,11140,Maxi Kleber,DAL,28.0,208.28,108.862080,None,Germany,Undrafted,Undrafted,...,9.1,5.4,1.1,4.6,0.056,0.140,0.136,0.605,0.064,2019-20
11141,11141,Melvin Frazier Jr.,ORL,23.0,195.58,97.522280,Tulane,USA,2018,2,...,1.2,0.3,0.1,-2.4,0.018,0.058,0.164,0.480,0.033,2019-20
11142,11142,Meyers Leonard,MIA,28.0,213.36,117.933920,Illinois,USA,2012,1,...,6.1,5.1,1.1,5.6,0.029,0.217,0.120,0.640,0.076,2019-20
11143,11143,Norvel Pelle,PHI,27.0,208.28,104.779752,None,USA,Undrafted,Undrafted,...,2.1,3.0,0.4,-16.4,0.085,0.237,0.126,0.521,0.056,2019-20
11144,11144,Matt Thomas,TOR,25.0,193.04,86.182480,Iowa State,USA,Undrafted,Undrafted,...,4.5,1.4,0.5,1.0,0.017,0.104,0.149,0.663,0.089,2019-20

In [136]:
vars_to_keep = ["season","team_abbreviation","age","player_height","player_weight"]
season_team_df = player_df[vars_to_keep].groupby(["season","team_abbreviation"]).mean().reset_index()

In [137]:
season_team_df.to_csv("season_team_demo.csv", index=False)

In [138]:
season_team_df

      season team_abbreviation        age  player_height  player_weight
0    1996-97               ATL  27.529412     203.797647     103.098793
1    1996-97               BOS  27.647059     200.510588      98.109281
2    1996-97               CHH  30.230769     198.706154      99.755348
3    1996-97               CHI  30.666667     203.369333     105.233344
4    1996-97               CLE  26.615385     199.878462     100.976558
..       ...               ...        ...            ...            ...
707  2019-20               SAC  25.117647     199.763529      98.242691
708  2019-20               SAS  25.750000     199.390000      99.223250
709  2019-20               TOR  25.555556     198.261111      96.539497
710  2019-20               UTA  25.666667     196.285556      98.353865
711  2019-20               WAS  25.210526     197.718947      96.925448

[712 rows x 5 columns]

## Clean data on which teams made playoffs each year

In [139]:
playoff_df = pd.read_csv("nba_playoffs.csv")
playoff_df

,Yr,Lg,Series,Unnamed: 3,Unnamed: 4,WinnerTeam,WinerW,Unnamed: 7,LoserTeam,LoserW,Unnamed: 10,Favorite,Underdog
0,2022,NBA,Eastern Conf First Round,Apr 17 - Apr 27 2022,NaN,Milwaukee Bucks (3),4,NaN,Chicago Bulls (6),1,NaN,MIL (-1100),CHI (+700)
1,2022,NBA,Western Conf First Round,Apr 16 - Apr 29 2022,NaN,Memphis Grizzlies (2),4,NaN,Minnesota Timberwolves (7),2,NaN,MEM (-320),MIN (+260)
2,2022,NBA,Eastern Conf First Round,Apr 17 - Apr 25 2022,NaN,Boston Celtics (2),4,NaN,Brooklyn Nets (7),0,NaN,BOS (-130),BRK (+110)
3,2022,NBA,Western Conf First Round,Apr 16 - Apr 27 2022,NaN,Golden State Warriors (3),4,NaN,Denver Nuggets (6),1,NaN,GSW (-275),DEN (+225)
4,2022,NBA,Western Conf First Round,Apr 16 - Apr 28 2022,NaN,Dallas Mavericks (4),4,NaN,Utah Jazz (5),2,NaN,UTA (-300),DAL (+245)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,1996,NBA,Western Conf Semifinals,May 4 - May 12 1996,NaN,Seattle SuperSonics (1),4,NaN,Houston Rockets (5),0,NaN,SEA (-200),HOU (+170)
401,1996,NBA,Western Conf Semifinals,May 7 - May 16 1996,NaN,Utah Jazz (3),4,NaN,San Antonio Spurs (2),2,NaN,NaN,NaN
402,1996,NBA,Eastern Conf Finals,May 19 - May 27 1996,NaN,Chicago Bulls (1),4,NaN,Orlando Magic (2),0,NaN,CHI (-500),ORL (+350)
403,1996,NBA,Western Conf Finals,May 18 - Jun 2 1996,NaN,Seattle SuperSonics (1),4,NaN,Utah Jazz (3),3,NaN,SEA (-270),UTA (+210)
404,1996,NBA,Finals,Jun 5 - Jun 16 1996,NaN,Chicago Bulls (1),4,NaN,Seattle SuperSonics (1),2,NaN,CHI (-950),SEA (+650)

In [140]:
# Drop extraneous vars
playoff_vars = ["Yr","WinnerTeam","LoserTeam"]
playoff_df = playoff_df[playoff_vars].copy()
playoff_df

       Yr                 WinnerTeam                   LoserTeam
0    2022        Milwaukee Bucks (3)           Chicago Bulls (6)
1    2022      Memphis Grizzlies (2)  Minnesota Timberwolves (7)
2    2022         Boston Celtics (2)           Brooklyn Nets (7)
3    2022  Golden State Warriors (3)          Denver Nuggets (6)
4    2022       Dallas Mavericks (4)               Utah Jazz (5)
..    ...                        ...                         ...
400  1996    Seattle SuperSonics (1)         Houston Rockets (5)
401  1996              Utah Jazz (3)       San Antonio Spurs (2)
402  1996          Chicago Bulls (1)           Orlando Magic (2)
403  1996    Seattle SuperSonics (1)               Utah Jazz (3)
404  1996          Chicago Bulls (1)     Seattle SuperSonics (1)

[405 rows x 3 columns]

In [141]:
po_df_long = playoff_df.melt(id_vars=["Yr"])
# And we don't need "variable" column anymore
po_df_long.drop(columns=['variable'], inplace=True)

In [142]:
# Get rid of the parentheses
po_df_long['value'] = po_df_long['value'].apply(lambda x: x.split(" (")[0])
po_df_long

       Yr                  value
0    2022        Milwaukee Bucks
1    2022      Memphis Grizzlies
2    2022         Boston Celtics
3    2022  Golden State Warriors
4    2022       Dallas Mavericks
..    ...                    ...
805  1996        Houston Rockets
806  1996      San Antonio Spurs
807  1996          Orlando Magic
808  1996              Utah Jazz
809  1996    Seattle SuperSonics

[810 rows x 2 columns]

In [143]:
# Drop duplicates and we're set
po_df_long.drop_duplicates(subset=['Yr','value'])

       Yr                   value
0    2022         Milwaukee Bucks
1    2022       Memphis Grizzlies
2    2022          Boston Celtics
3    2022   Golden State Warriors
4    2022        Dallas Mavericks
..    ...                     ...
798  1996         Detroit Pistons
799  1996      Los Angeles Lakers
800  1996            Phoenix Suns
801  1996        Sacramento Kings
802  1996  Portland Trail Blazers

[432 rows x 2 columns]

In [144]:
# Data note: changing Bullets to Wizards for continuity (I think only 1 year with bullets here)
po_df_long['value'] = po_df_long['value'].apply(lambda x: "Washington Wizards" if x=="Washington Bullets" else x)

In [145]:
# For efficiency (doesn't rly matter here but, fun), turn into a dict mapping
# year to set of teams
po_records = po_df_long.to_dict(orient='records')
# Could do a fun list comprehension, but for time just gonna loop
playoff_teams = {year: set() for year in range(po_df_long['Yr'].min(),po_df_long['Yr'].max()+1)}
#print(playoff_teams)
for cur_record in po_records:
    record_yr = cur_record['Yr']
    record_team = cur_record['value']
    playoff_teams[record_yr].add(record_team)
print(playoff_teams[2000])

{'Indiana Pacers', 'Sacramento Kings', 'New York Knicks', 'Detroit Pistons', 'Utah Jazz', 'Toronto Raptors', 'Charlotte Hornets', 'Phoenix Suns', 'Portland Trail Blazers', 'San Antonio Spurs', 'Milwaukee Bucks', 'Los Angeles Lakers', 'Minnesota Timberwolves', 'Philadelphia 76ers', 'Miami Heat', 'Seattle SuperSonics'}

In [146]:
joblib.dump(playoff_teams, "playoff_teams.pkl")

['playoff_teams.pkl']

## Add playoff data to season_team_df

In [147]:
season_team_df['po_year'] = season_team_df['season'].apply(lambda x: x[:2] + x[-2:])
# Works except for 2000
season_team_df['po_year'] = season_team_df['po_year'].apply(lambda x: "2000" if x=="1900" else x)
season_team_df

,season,team_abbreviation,age,player_height,player_weight,po_year
0,1996-97,ATL,27.529412,203.797647,103.098793,1997
1,1996-97,BOS,27.647059,200.510588,98.109281,1997
2,1996-97,CHH,30.230769,198.706154,99.755348,1997
3,1996-97,CHI,30.666667,203.369333,105.233344,1997
4,1996-97,CLE,26.615385,199.878462,100.976558,1997
...,...,...,...,...,...,...
707,2019-20,SAC,25.117647,199.763529,98.242691,2020
708,2019-20,SAS,25.750000,199.390000,99.223250,2020
709,2019-20,TOR,25.555556,198.261111,96.539497,2020
710,2019-20,UTA,25.666667,196.285556,98.353865,2020
711,2019-20,WAS,25.210526,197.718947,96.925448,2020

In [148]:
# Ensure it's numeric
season_team_df['po_year'] = pd.to_numeric(season_team_df['po_year'])

In [149]:
import nbautil

In [150]:
def get_full_name(row):
    # Need a whole function because of Hornets vs Bobcats...
    cur_abbr = row['team_abbreviation']
    cur_year = row['po_year']
    if cur_abbr == "CHA" and cur_year < 2015:
        return "Charlotte Bobcats"
    if cur_abbr == "CHA" and cur_year >= 2015:
        return "Charlotte Hornets"
    return nbautil.abbr_to_team[cur_abbr]

season_team_df['team_full'] = season_team_df.apply(get_full_name, axis=1)

In [151]:
# One correction: if 2015 playoffs onwards, Charlotte Bobcats->Hornets
#season_team_df = season_team_df.apply(lambda x: "Charlotte Hornets" if ((x['team_full']=="Charlotte Bobcats") and x['po_year'] >= 2015) else x, axis=1)

In [152]:
season_team_df

,season,team_abbreviation,age,player_height,player_weight,po_year,team_full
0,1996-97,ATL,27.529412,203.797647,103.098793,1997,Atlanta Hawks
1,1996-97,BOS,27.647059,200.510588,98.109281,1997,Boston Celtics
2,1996-97,CHH,30.230769,198.706154,99.755348,1997,Charlotte Hornets
3,1996-97,CHI,30.666667,203.369333,105.233344,1997,Chicago Bulls
4,1996-97,CLE,26.615385,199.878462,100.976558,1997,Cleveland Cavaliers
...,...,...,...,...,...,...,...
707,2019-20,SAC,25.117647,199.763529,98.242691,2020,Sacramento Kings
708,2019-20,SAS,25.750000,199.390000,99.223250,2020,San Antonio Spurs
709,2019-20,TOR,25.555556,198.261111,96.539497,2020,Toronto Raptors
710,2019-20,UTA,25.666667,196.285556,98.353865,2020,Utah Jazz
711,2019-20,WAS,25.210526,197.718947,96.925448,2020,Washington Wizards

In [153]:
def made_playoffs(row):
    row_year = row['po_year']
    row_team = row['team_full']
    return row_team in playoff_teams[row_year]

In [154]:
season_team_df['playoffs'] = season_team_df.apply(made_playoffs, axis=1)
season_team_df

,season,team_abbreviation,age,player_height,player_weight,po_year,team_full,playoffs
0,1996-97,ATL,27.529412,203.797647,103.098793,1997,Atlanta Hawks,True
1,1996-97,BOS,27.647059,200.510588,98.109281,1997,Boston Celtics,False
2,1996-97,CHH,30.230769,198.706154,99.755348,1997,Charlotte Hornets,True
3,1996-97,CHI,30.666667,203.369333,105.233344,1997,Chicago Bulls,True
4,1996-97,CLE,26.615385,199.878462,100.976558,1997,Cleveland Cavaliers,False
...,...,...,...,...,...,...,...,...
707,2019-20,SAC,25.117647,199.763529,98.242691,2020,Sacramento Kings,False
708,2019-20,SAS,25.750000,199.390000,99.223250,2020,San Antonio Spurs,False
709,2019-20,TOR,25.555556,198.261111,96.539497,2020,Toronto Raptors,True
710,2019-20,UTA,25.666667,196.285556,98.353865,2020,Utah Jazz,True
711,2019-20,WAS,25.210526,197.718947,96.925448,2020,Washington Wizards,False

In [155]:
# Sanity check: playoff teams per year
season_team_df[season_team_df['playoffs']].groupby(['po_year']).count()

,season,team_abbreviation,age,player_height,player_weight,team_full,playoffs
po_year,,,,,,,
1997,16,16,16,16,16,16,16
1998,16,16,16,16,16,16,16
1999,16,16,16,16,16,16,16
2000,16,16,16,16,16,16,16
2001,16,16,16,16,16,16,16
2002,16,16,16,16,16,16,16
2003,16,16,16,16,16,16,16
2004,16,16,16,16,16,16,16
2005,16,16,16,16,16,16,16
2006,16,16,16,16,16,16,16
2007,16,16,16,16,16,16,16
2008,16,16,16,16,16,16,16
2009,16,16,16,16,16,16,16
2010,16,16,16,16,16,16,16
2011,16,16,16,16,16,16,16
2012,16,16,16,16,16,16,16
2013,16,16,16,16,16,16,16
2014,16,16,16,16,16,16,16
2015,16,16,16,16,16,16,16
2016,16,16,16,16,16,16,16
2017,16,16,16,16,16,16,16
2018,16,16,16,16,16,16,16
2019,16,16,16,16,16,16,16
2020,16,16,16,16,16,16,16

In [156]:
season_team_df[season_team_df['po_year'] == 2014]

,season,team_abbreviation,age,player_height,player_weight,po_year,team_full,playoffs
502,2013-14,ATL,27.125000,200.501250,102.568491,2014,Atlanta Hawks,True
503,2013-14,BKN,29.529412,200.660000,101.097652,2014,Brooklyn Nets,True
504,2013-14,BOS,26.250000,198.596250,99.931988,2014,Boston Celtics,False
505,2013-14,CHA,26.866667,198.966667,100.999819,2014,Charlotte Bobcats,True
506,2013-14,CHI,28.625000,200.025000,98.627910,2014,Chicago Bulls,True
507,2013-14,CLE,24.888889,200.660000,101.730606,2014,Cleveland Cavaliers,False
508,2013-14,DAL,28.733333,198.289333,98.217788,2014,Dallas Mavericks,True
509,2013-14,DEN,25.714286,200.478571,99.660642,2014,Denver Nuggets,False
510,2013-14,DET,26.066667,199.644000,100.455508,2014,Detroit Pistons,False
511,2013-14,GSW,27.285714,202.111429,100.179033,2014,Golden State Warriors,True
512,2013-14,HOU,25.125000,201.453750,101.009269,2014,Houston Rockets,True
513,2013-14,IND,27.733333,202.353333,105.324062,2014,Indiana Pacers,True
514,2013-14,LAC,29.777778,199.672222,99.412247,2014,Los Angeles Clippers,True
515,2013-14,LAL,27.333333,200.942222,98.429464,2014,Los Angeles Lakers,False
516,2013-14,MEM,27.750000,200.977500,100.810822,2014,Memphis Grizzlies,True
517,2013-14,MIA,30.294118,201.257647,101.311107,2014,Miami Heat,True
518,2013-14,MIL,24.875000,202.427500,100.235704,2014,Milwaukee Bucks,False
519,2013-14,MIN,26.625000,200.660000,97.692377,2014,Minnesota Timberwolves,False
520,2013-14,NOP,25.894737,203.333684,101.246509,2014,New Orleans Pelicans,False
521,2013-14,NYK,28.411765,201.257647,102.031518,2014,New York Knicks,False
522,2013-14,OKC,27.500000,201.384444,102.073262,2014,Oklahoma City Thunder,True
523,2013-14,ORL,25.500000,200.478571,102.252597,2014,Orlando Magic,False
524,2013-14,PHI,23.722222,200.118889,99.250912,2014,Philadelphia 76ers,False
525,2013-14,PHX,26.133333,200.829333,100.274071,2014,Phoenix Suns,False
526,2013-14,POR,25.800000,201.168000,97.522280,2014,Portland Trail Blazers,True
527,2013-14,SAC,25.750000,201.453750,103.900918,2014,Sacramento Kings,False
528,2013-14,SAS,28.800000,200.829333,100.848621,2014,San Antonio Spurs,True
529,2013-14,TOR,26.866667,199.813333,98.127069,2014,Toronto Raptors,True
530,2013-14,UTA,26.352941,200.211765,99.149875,2014,Utah Jazz,False
531,2013-14,WAS,27.333333,202.184000,102.118679,2014,Washington Wizards,True

In [157]:
playoff_teams[2014]

{'Atlanta Hawks',
 'Brooklyn Nets',
 'Charlotte Bobcats',
 'Chicago Bulls',
 'Dallas Mavericks',
 'Golden State Warriors',
 'Houston Rockets',
 'Indiana Pacers',
 'Los Angeles Clippers',
 'Memphis Grizzlies',
 'Miami Heat',
 'Oklahoma City Thunder',
 'Portland Trail Blazers',
 'San Antonio Spurs',
 'Toronto Raptors',
 'Washington Wizards'}

In [158]:
season_team_df

,season,team_abbreviation,age,player_height,player_weight,po_year,team_full,playoffs
0,1996-97,ATL,27.529412,203.797647,103.098793,1997,Atlanta Hawks,True
1,1996-97,BOS,27.647059,200.510588,98.109281,1997,Boston Celtics,False
2,1996-97,CHH,30.230769,198.706154,99.755348,1997,Charlotte Hornets,True
3,1996-97,CHI,30.666667,203.369333,105.233344,1997,Chicago Bulls,True
4,1996-97,CLE,26.615385,199.878462,100.976558,1997,Cleveland Cavaliers,False
...,...,...,...,...,...,...,...,...
707,2019-20,SAC,25.117647,199.763529,98.242691,2020,Sacramento Kings,False
708,2019-20,SAS,25.750000,199.390000,99.223250,2020,San Antonio Spurs,False
709,2019-20,TOR,25.555556,198.261111,96.539497,2020,Toronto Raptors,True
710,2019-20,UTA,25.666667,196.285556,98.353865,2020,Utah Jazz,True
711,2019-20,WAS,25.210526,197.718947,96.925448,2020,Washington Wizards,False

In [159]:
# Only have team stats for po_year 1998 onwards, so drop before
season_team_df = season_team_df[season_team_df['po_year'] >= 1998].copy()

In [160]:
# Making a unique key
season_team_df['po_year_str'] = season_team_df['po_year'].apply(lambda x: str(x))
season_team_df['year_team'] = season_team_df['po_year_str'] + "_" + season_team_df['team_full']

In [161]:
season_team_df

,season,team_abbreviation,age,player_height,player_weight,po_year,team_full,playoffs,po_year_str,year_team
29,1997-98,ATL,28.250000,199.231250,99.166551,1998,Atlanta Hawks,True,1998,1998_Atlanta Hawks
30,1997-98,BOS,25.857143,200.297143,95.027524,1998,Boston Celtics,False,1998,1998_Boston Celtics
31,1997-98,CHH,29.733333,200.829333,101.755805,1998,Charlotte Hornets,True,1998,1998_Charlotte Hornets
32,1997-98,CHI,30.600000,201.337333,103.691131,1998,Chicago Bulls,True,1998,1998_Chicago Bulls
33,1997-98,CLE,26.375000,199.231250,96.756844,1998,Cleveland Cavaliers,True,1998,1998_Cleveland Cavaliers
...,...,...,...,...,...,...,...,...,...,...
707,2019-20,SAC,25.117647,199.763529,98.242691,2020,Sacramento Kings,False,2020,2020_Sacramento Kings
708,2019-20,SAS,25.750000,199.390000,99.223250,2020,San Antonio Spurs,False,2020,2020_San Antonio Spurs
709,2019-20,TOR,25.555556,198.261111,96.539497,2020,Toronto Raptors,True,2020,2020_Toronto Raptors
710,2019-20,UTA,25.666667,196.285556,98.353865,2020,Utah Jazz,True,2020,2020_Utah Jazz
711,2019-20,WAS,25.210526,197.718947,96.925448,2020,Washington Wizards,False,2020,2020_Washington Wizards

## Team Stats

In [162]:
team_df = pd.read_csv("NBA_Team_Stats.csv")
team_df

,No,Team,G,Min,PtsTotal,PtsSeason,OppPtsSeason,Reb,Ast,Stl,...,Oreb,Fgm-a,Pct,3gm-a,Pct.1,Ftm-a,Pct.2,Eff,Deff,Year
0,1,Chicago,103,48.4,96.0,96.7,89.6,44.1,23.1,8.6,...,14.9,36.7-81.7,0.449,3.9-12.0,0.323,18.7-25.2,0.741,111.6,17.5,1997-1998
1,2,Utah,102,48.3,98.6,101.0,88.5,40.8,24.7,7.6,...,11.3,35.9-74.3,0.483,3.1-8.4,0.368,23.8-30.9,0.768,116.3,17.5,1997-1998
2,3,Phoenix,86,48.6,99.3,99.6,94.4,41.9,25.6,9.2,...,12.1,38.2-82.0,0.466,5.2-14.7,0.355,17.7-23.6,0.747,117.1,13.6,1997-1998
3,4,L.A.Lakers,95,48.3,104.8,105.5,97.8,42.9,24.3,8.7,...,13.2,38.0-79.1,0.480,6.1-17.3,0.350,22.8-33.7,0.675,120.8,13.2,1997-1998
4,5,San Antonio,91,48.4,92.5,92.5,88.5,44.1,21.9,6.2,...,11.9,35.1-75.1,0.468,3.7-10.8,0.344,18.5-26.8,0.688,108.0,13.1,1997-1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,25,Sacramento,82,48.3,110.3,110.3,115.8,42.9,23.7,7.2,...,9.6,40.5-88.1,0.460,11.4-33.2,0.344,17.9-23.3,0.768,122.1,-13.4,2021-2022
738,26,Orlando,82,48.2,104.2,104.2,112.2,44.3,23.7,6.8,...,9.1,38.3-88.3,0.434,12.2-36.8,0.331,15.5-19.7,0.787,115.5,-16.0,2021-2022
739,27,Detroit,82,48.2,104.8,104.8,112.5,43.0,23.5,7.7,...,11.0,38.2-88.6,0.430,11.3-34.6,0.326,17.2-22.0,0.782,115.1,-16.7,2021-2022
740,28,Portland,82,48.1,106.2,106.2,115.1,42.9,22.9,8.0,...,10.4,38.5-87.1,0.443,12.7-36.8,0.346,16.4-21.6,0.760,117.1,-19.0,2021-2022
741,29,Oklahoma City,82,48.3,103.7,103.7,111.8,45.6,22.2,7.6,...,10.4,38.3-89.1,0.430,12.1-37.4,0.323,15.0-19.9,0.756,114.8,-19.2,2021-2022

In [163]:
team_vars = ["Team","PtsSeason","OppPtsSeason","Reb","Ast","Stl","Blk","To","Pf","Dreb","Oreb","Year"]
team_df = team_df[team_vars].copy()

In [164]:
# Compute point differential
team_df["PtsDiff"] = team_df['PtsSeason'] - team_df['OppPtsSeason']

In [165]:
team_df['po_year'] = team_df['Year'].apply(lambda x: x.split("-")[1])
# And convert to numeric
team_df['po_year'] = pd.to_numeric(team_df['po_year'])

In [166]:
team_df

,Team,PtsSeason,OppPtsSeason,Reb,Ast,Stl,Blk,To,Pf,Dreb,Oreb,Year,PtsDiff,po_year
0,Chicago,96.7,89.6,44.1,23.1,8.6,4.3,13.0,21.1,29.2,14.9,1997-1998,7.1,1998
1,Utah,101.0,88.5,40.8,24.7,7.6,4.8,14.7,24.3,29.5,11.3,1997-1998,12.5,1998
2,Phoenix,99.6,94.4,41.9,25.6,9.2,5.3,14.4,21.7,29.8,12.1,1997-1998,5.2,1998
3,L.A.Lakers,105.5,97.8,42.9,24.3,8.7,6.8,14.7,22.9,29.7,13.2,1997-1998,7.7,1998
4,San Antonio,92.5,88.5,44.1,21.9,6.2,6.9,15.3,21.2,32.2,11.9,1997-1998,4.0,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Sacramento,110.3,115.8,42.9,23.7,7.2,4.5,13.5,18.9,33.4,9.6,2021-2022,-5.5,2022
738,Orlando,104.2,112.2,44.3,23.7,6.8,4.5,13.8,19.7,35.2,9.1,2021-2022,-8.0,2022
739,Detroit,104.8,112.5,43.0,23.5,7.7,4.8,13.4,21.9,32.0,11.0,2021-2022,-7.7,2022
740,Portland,106.2,115.1,42.9,22.9,8.0,4.5,13.7,21.1,32.5,10.4,2021-2022,-8.9,2022
741,Oklahoma City,103.7,111.8,45.6,22.2,7.6,4.6,13.3,18.3,35.2,10.4,2021-2022,-8.1,2022

In [167]:
# Clean team names
def clean_team_name(row):
    cur_name = row['Team']
    return nbautil.city_to_team[cur_name]

In [168]:
team_df['team_full'] = team_df.apply(clean_team_name, axis=1)

In [169]:
team_df.dtypes

Team             object
PtsSeason       float64
OppPtsSeason    float64
Reb             float64
Ast             float64
Stl             float64
Blk             float64
To              float64
Pf              float64
Dreb            float64
Oreb            float64
Year             object
PtsDiff         float64
po_year           int64
team_full        object
dtype: object

In [170]:
# Make a unique key
team_df['po_year_str'] = team_df['po_year'].apply(lambda x: str(x))
team_df['year_team'] = team_df['po_year_str'] + "_" + team_df['team_full']

In [171]:
# And some corrections on this one (harder than the other since it only has city...)
yt_correct = {
    '2003_New Orleans Pelicans': '2003_New Orleans Hornets',
    '2004_New Orleans Pelicans': '2004_New Orleans Hornets',
    '2005_New Orleans Pelicans': '2005_New Orleans Hornets',
    '2005_Charlotte Hornets': '2005_Charlotte Bobcats',
    '2006_Charlotte Hornets': '2006_Charlotte Bobcats',
    '2006_New Orleans Pelicans': '2006_New Orleans/Oklahoma City Hornets',
    '2007_Charlotte Hornets': '2007_Charlotte Bobcats',
    '2007_New Orleans Pelicans': '2007_New Orleans/Oklahoma City Hornets',
    '2008_Charlotte Hornets': '2008_Charlotte Bobcats',
    '2008_New Orleans Pelicans': '2008_New Orleans Hornets',
    '2009_Charlotte Hornets': '2009_Charlotte Bobcats',
    '2009_New Orleans Pelicans': '2009_New Orleans Hornets',
    '2010_Charlotte Hornets': '2010_Charlotte Bobcats',
    '2010_New Orleans Pelicans': '2010_New Orleans Hornets',
    '2011_Charlotte Hornets': '2011_Charlotte Bobcats',
    '2011_New Orleans Pelicans': '2011_New Orleans Hornets',
    '2012_Charlotte Hornets': '2012_Charlotte Bobcats',
    '2012_New Orleans Pelicans': '2012_New Orleans Hornets',
    '2013_Charlotte Hornets': '2013_Charlotte Bobcats',
    '2013_New Orleans Pelicans': '2013_New Orleans Hornets',
    '2014_Charlotte Hornets': '2014_Charlotte Bobcats',
}
team_df['year_team'] = team_df['year_team'].apply(lambda x: yt_correct[x] if x in yt_correct else x)

In [172]:
# Sigh... a bunch of missing data, filling in here:
team_df[(team_df['po_year'] == 2008) & (team_df['team_full'] == "Memphis Grizzlies")]

,Team,PtsSeason,OppPtsSeason,Reb,Ast,Stl,Blk,To,Pf,Dreb,Oreb,Year,PtsDiff,po_year,team_full,po_year_str,year_team
322,Memphis,100.7,106.9,41.6,19.2,6.1,4.7,15.3,19.4,31.3,10.3,2007-2008,-6.2,2008,Memphis Grizzlies,2008,2008_Memphis Grizzlies

In [173]:
team_df[team_df['po_year'] == 2014].sort_values(by='Team')
# No data for: 2005_Atlanta Hawks
# 2006 Portland
# 2007 Vancouver/Memphis
# 2008 Vancouver/Memphis
# 2009 Sacramento
# 2010 Minnesota

,Team,PtsSeason,OppPtsSeason,Reb,Ast,Stl,Blk,To,Pf,Dreb,Oreb,Year,PtsDiff,po_year,team_full,po_year_str,year_team
490,Atlanta,101.0,101.5,39.9,24.3,8.2,4.0,14.4,19.4,31.2,8.7,2013-2014,-0.5,2014,Atlanta Hawks,2014,2014_Atlanta Hawks
495,Boston,96.2,100.7,42.5,21.0,7.1,4.2,14.4,21.2,30.5,12.0,2013-2014,-4.5,2014,Boston Celtics,2014,2014_Boston Celtics
492,Brooklyn,98.5,99.5,38.1,20.6,8.4,3.7,13.7,21.8,29.1,8.9,2013-2014,-1.0,2014,Brooklyn Nets,2014,2014_Brooklyn Nets
489,Charlotte,96.9,97.1,42.5,21.6,6.0,5.1,11.7,18.3,33.1,9.4,2013-2014,-0.2,2014,Charlotte Hornets,2014,2014_Charlotte Bobcats
480,Chicago,93.7,91.8,44.0,22.5,7.1,5.1,13.9,19.3,32.6,11.5,2013-2014,1.9,2014,Chicago Bulls,2014,2014_Chicago Bulls
496,Cleveland,98.2,101.5,44.1,21.2,7.1,3.7,13.5,20.0,32.1,12.0,2013-2014,-3.3,2014,Cleveland Cavaliers,2014,2014_Cleveland Cavaliers
481,Dallas,104.8,102.4,40.9,23.2,8.4,4.3,13.0,20.0,30.5,10.4,2013-2014,2.4,2014,Dallas Mavericks,2014,2014_Dallas Mavericks
493,Denver,104.4,106.5,45.4,22.4,7.5,5.6,15.4,23.0,33.1,12.3,2013-2014,-2.1,2014,Denver Nuggets,2014,2014_Denver Nuggets
498,Detroit,101.0,104.7,45.4,20.9,8.4,4.8,13.9,20.3,30.8,14.6,2013-2014,-3.7,2014,Detroit Pistons,2014,2014_Detroit Pistons
476,Golden State,104.3,99.5,45.1,23.4,7.8,4.9,15.1,22.0,34.0,11.1,2013-2014,4.8,2014,Golden State Warriors,2014,2014_Golden State Warriors
479,Houston,107.7,103.1,45.6,21.2,7.5,5.6,15.3,20.8,34.0,11.6,2013-2014,4.6,2014,Houston Rockets,2014,2014_Houston Rockets
477,Indiana,96.7,92.3,43.7,19.9,6.8,5.2,14.1,20.5,33.9,9.8,2013-2014,4.4,2014,Indiana Pacers,2014,2014_Indiana Pacers
475,L.A.Clippers,107.9,101.0,42.6,24.5,8.7,4.8,13.2,21.9,32.0,10.6,2013-2014,6.9,2014,Los Angeles Clippers,2014,2014_Los Angeles Clippers
501,L.A.Lakers,103.0,109.2,41.0,24.5,7.5,5.5,14.8,19.8,32.0,9.1,2013-2014,-6.2,2014,Los Angeles Lakers,2014,2014_Los Angeles Lakers
483,Memphis,96.1,94.6,42.4,21.8,7.8,4.4,12.8,19.3,30.7,11.7,2013-2014,1.5,2014,Memphis Grizzlies,2014,2014_Memphis Grizzlies
478,Miami,102.2,97.4,36.3,21.7,8.6,4.3,13.6,19.7,29.0,7.3,2013-2014,4.8,2014,Miami Heat,2014,2014_Miami Heat
500,Milwaukee,95.5,103.7,41.1,21.5,6.6,4.9,14.3,20.9,29.3,11.9,2013-2014,-8.2,2014,Milwaukee Bucks,2014,2014_Milwaukee Bucks
487,Minnesota,106.9,104.3,44.7,24.0,8.8,3.6,13.5,18.3,32.2,12.5,2013-2014,2.6,2014,Minnesota Timberwolves,2014,2014_Minnesota Timberwolves
491,New Orleans,99.7,102.4,41.7,21.3,7.9,6.4,13.0,22.6,30.3,11.4,2013-2014,-2.7,2014,New Orleans Pelicans,2014,2014_New Orleans Pelicans
488,New York,98.6,99.4,40.3,20.0,7.7,4.5,12.4,22.1,29.7,10.6,2013-2014,-0.8,2014,New York Knicks,2014,2014_New York Knicks
474,Oklahoma City,106.2,99.8,44.8,21.4,7.9,6.1,14.8,22.7,33.9,10.9,2013-2014,6.4,2014,Oklahoma City Thunder,2014,2014_Oklahoma City Thunder
497,Orlando,96.5,102.0,42.0,21.0,7.7,4.3,14.2,20.5,32.4,9.7,2013-2014,-5.5,2014,Orlando Magic,2014,2014_Orlando Magic
502,Philadelphia,99.5,109.9,42.9,20.5,9.6,5.9,17.7,21.7,30.9,11.9,2013-2014,-10.4,2014,Philadelphia 76ers,2014,2014_Philadelphia 76ers
485,Phoenix,105.2,102.6,43.0,19.1,8.4,4.6,14.8,21.9,31.7,11.3,2013-2014,2.6,2014,Phoenix Suns,2014,2014_Phoenix Suns
482,Portland,106.7,102.8,46.2,22.5,5.6,4.9,13.3,19.6,33.8,12.4,2013-2014,3.9,2014,Portland Trail Blazers,2014,2014_Portland Trail Blazers
494,Sacramento,100.5,103.4,44.5,18.9,7.2,3.9,14.7,22.5,32.4,12.1,2013-2014,-2.9,2014,Sacramento Kings,2014,2014_Sacramento Kings
473,San Antonio,105.4,97.6,43.0,24.5,7.5,4.8,13.6,18.6,33.7,9.3,2013-2014,7.8,2014,San Antonio Spurs,2014,2014_San Antonio Spurs
484,Toronto,101.3,98.0,42.4,20.9,6.9,4.1,13.4,23.2,31.1,11.3,2013-2014,3.3,2014,Toronto Raptors,2014,2014_Toronto Raptors
499,Utah,95.0,102.2,41.2,20.3,7.0,4.5,14.0,20.7,30.2,11.0,2013-2014,-7.2,2014,Utah Jazz,2014,2014_Utah Jazz
486,Washington,100.7,99.4,42.5,22.8,8.1,4.7,13.9,20.6,31.6,10.9,2013-2014,1.3,2014,Washington Wizards,2014,2014_Washington Wizards

## And the merge

In [174]:
# Merge!
# (No longer need indicator)
merged_df = season_team_df.merge(team_df, on='year_team', how='left', indicator=False)

In [175]:
merged_df.drop(columns=['po_year_y','team_full_y','po_year_str_x','po_year_str_y','Year'], inplace=True, errors='ignore')

In [176]:
merged_df.rename(columns={'po_year_x':'po_year','team_full_x':'team_full'}, inplace=True)

In [177]:
merged_df.to_csv("nba_data_full.csv", index=False)

In [178]:
merged_df

,season,team_abbreviation,age,player_height,player_weight,po_year,team_full,playoffs,year_team,Team,...,OppPtsSeason,Reb,Ast,Stl,Blk,To,Pf,Dreb,Oreb,PtsDiff
0,1997-98,ATL,28.250000,199.231250,99.166551,1998,Atlanta Hawks,True,1998_Atlanta Hawks,Atlanta,...,92.3,42.8,19.0,8.0,5.9,14.0,20.5,29.5,13.4,3.6
1,1997-98,BOS,25.857143,200.297143,95.027524,1998,Boston Celtics,False,1998_Boston Celtics,Boston,...,98.5,39.5,22.1,12.0,4.5,15.6,26.9,24.9,14.6,-2.6
2,1997-98,CHH,29.733333,200.829333,101.755805,1998,Charlotte Hornets,True,1998_Charlotte Hornets,Charlotte,...,94.6,40.1,23.4,8.2,3.7,14.4,21.4,28.4,11.7,2.0
3,1997-98,CHI,30.600000,201.337333,103.691131,1998,Chicago Bulls,True,1998_Chicago Bulls,Chicago,...,89.6,44.1,23.1,8.6,4.3,13.0,21.1,29.2,14.9,7.1
4,1997-98,CLE,26.375000,199.231250,96.756844,1998,Cleveland Cavaliers,True,1998_Cleveland Cavaliers,Cleveland,...,89.8,39.8,22.9,9.9,5.0,16.6,23.7,28.2,11.6,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,2019-20,SAC,25.117647,199.763529,98.242691,2020,Sacramento Kings,False,2020_Sacramento Kings,Sacramento,...,112.1,42.6,23.8,7.7,4.1,13.7,22.2,32.9,9.7,-2.0
679,2019-20,SAS,25.750000,199.390000,99.223250,2020,San Antonio Spurs,False,2020_San Antonio Spurs,San Antonio,...,115.2,44.6,24.7,7.3,5.5,12.2,19.4,35.6,9.0,-1.1
680,2019-20,TOR,25.555556,198.261111,96.539497,2020,Toronto Raptors,True,2020_Toronto Raptors,Toronto,...,106.5,45.3,25.2,8.6,5.0,13.8,21.8,36.0,9.3,6.3
681,2019-20,UTA,25.666667,196.285556,98.353865,2020,Utah Jazz,True,2020_Utah Jazz,Utah,...,108.8,44.6,22.3,6.1,4.0,14.2,20.3,35.4,9.1,2.5
682,2019-20,WAS,25.210526,197.718947,96.925448,2020,Washington Wizards,False,2020_Washington Wizards,Washington,...,119.1,42.1,25.0,8.0,4.3,13.5,22.7,31.9,10.2,-4.7